.home {
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;

  & > * {
    display: flex;
    gap: 8px;
    background: #FF7979DE;
  }
}

.generate-post {
  background: #B25DF5B5;
}

.avatar {
  background: #F9FB98B8;

  svg path {
    fill: #29025B;
  }
}

.posts {
  border-radius: 30px;
  background: #040404;

  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}