.home {
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.logo {
  font-family: Ribeye Marrow, serif;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.46000000834465027px;
  text-align: left;
  color: #9747FF;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.avatar {
  //background: red;
}

.posts {
  border-radius: 30px;
  background: #040404;

  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}